:root {
    --primary: #3A7CA5;
    --white: #EBF2FA;
    --dark: #16425B;
    --accent: #2F6690;
}
body {
    background-color: var(--white);
    height: 100vh;
    margin: 0;
    font-size: 1.6rem;
    color: var(--dark);
}
html {
    margin: 0;
    font-size: 62.5%;
}
*, *::before, *::after {
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
h1, h2, h3 {
    text-align: center;
}

/* HEADER */
.blue-bar {
    width: 100%;
    background-color: var(--dark);
    color: var(--white);
}
.blue-bar h1 {
    font-size: 3.2rem;
    padding: 4rem;
    font-weight: 400;
    margin: 0;
}
.profile-pic {
    position: relative;
}
.profile-pic img {
    margin: -2rem auto 0 auto;
    display: block;
    width: 40%;
    max-width: 16rem;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, .8);
}
/* MAIN CONTENT */
.main-content {
    min-height: 60vh;
}
.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
.assignments {
    padding: 0;
    text-align: center;
    list-style: none;
}

/* FOOTER */
footer.blue-bar {
    padding: 3rem 0;
    text-align: center;
}
footer .copyright .link {
    color: var(--white);
}

@media only screen and (min-width: 1000px) {
    .profile-pic img {
        margin-top: -8rem;
        position: absolute;
        max-width: 23rem;
        right: 0;
    }
}