/* MEDIA QUERIES for medium devices */
@media only screen and (min-width: 768px) {    
    /* GLOBAL */
    body {
        font-size: 1.8rem;
    }
    /* Heading sizes */
    h1 {font-size: 3.6rem;}
    h2 {font-size: 3.2rem;}
    h3 {font-size: 2.8rem;}
    h4 {font-size: 2.4rem;}

    .navigation ul li a {
        font-size: 1.8rem;
    }

    /* HEADER */
    .logo-container .motto {
        font-size: 1.8rem;
    }

    /* ====    HOME    ==== */
    .towns .town {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        min-height: 29.03rem;
    }
    .towns .town:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .towns .town .photo-container,
    .towns .town .info-container {
        width: 50%;
    }

    /* PAGES */
    .home-title {
        padding-top: 10rem;
        font-size: 5rem;
    }
    .home-section {
        text-align: start;
    }
    .hero-section {
        max-height: 70vh;
        overflow: hidden;
    }
    .hero-section .summary {
        position: absolute;
        background-color: var(--accent);
        left: 10%;
        color: var(--white);
        text-align: start;
        opacity: .9;
        width: fit-content;
        top: 50%;
        transform: translateY(-50%);
        padding: 2rem;
        margin: 0;
    }

    .contact-info-section .map-container {
        display: block;
        margin: 0 auto;
    }
    .contact-info-section .social-media-icons {
        width: 30%;
    }
    /* TOWN PAGES */
    .five-day-section .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
    }
    .article-section {
        max-width: 75rem;
        margin: 5rem auto;
        overflow: auto;
    }
    .article-section .article-content figure {
        max-width: fit-content;
    }
    .article-section .article-content img {
        width: 40rem;
        max-width: 40rem;
    }
    .article-section .article-content a.float-left,
    .article-section .article-content a.float-right {
        text-decoration: none;
    }
    .article-section .article-content .float-right {
        margin: 2rem;
        margin-right: 0;
        float: right;
    }
    .article-section .article-content .float-left {
        margin: 1rem 2rem 1rem 0;
        float: left;
    }

    /* Gallery */
    .images-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}