body {
    text-align: center;
    background-color: cornflowerblue;
    font-size: 24px;
}

body hr {
    border: 1px solid black;
}

#current-temp {
    font-size: 28px;
    font-weight: 700;
    color: white;
}