@media only screen and (min-width: 992px) {

    /* HEADER */
    header .navigation ul {
        flex-direction: row;
    }
    header .navigation ul li {
        margin-bottom: 1rem;
        width: 100%;
        display: inline-block;
        padding: 0 1rem;
    }
    header .navigation ul li:first-of-type {
        display: none;
    }
    .navigation ul li:hover::after,
    .navigation ul li.active::after {
        width: 100%;
    }
    .navigation ul li a {
        width: min-content;
        padding: 0;
    }

    /* PAGE */
    .home-section {
        padding: .5rem 5rem;
    }

    .hero-section .summary {
        padding: 2rem;
        top: 8rem;
        left: 8rem;
    }
    .article-section .article-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .article-section .article-content p {
        margin-top: 0;
    }
    .contact-info-section {
        display: flex;
        gap: 5rem;
    }
    .contact-info-section .map {
        display: block;
        margin: 0;
        max-width: 50%;
    }
}