/* VARIABLES */
:root {
    /*Font from google*/
    --font: 'Work Sans', sans-serif;
    /*Color Palette*/
    --yellow: #FFDE32;
    --grey: #E8E9EB;
    --blue: #2176AE;
    --darkBlue: #235789;
    --darkGrey: #858686;
    --red: #ED6A5A;

    /*Actual color palette*/
    --primary: var(--yellow);
    --secondary: var(--grey);
    --accent: var(--blue);
    --accent2: var(--red);
    --hovered: var(--darkGrey);
    --black: #000000;
    --white: #ffffff;

    /* Screen sizes */
    --tablet: 768px;
}

/*----------------------- GLOBALS ----------------------------*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--secondary);
}

*,*::before,*::after {
    font-family: var(--font);
    box-sizing: border-box;
}

h1 {font-size: 3.6rem;}
h2 {font-size: 3.2rem;}
h3 {font-size: 2.8rem;}
h4 {font-size: 2.4rem;}
p,ul {line-height: 1.5;}

img {max-width: 100%;}

.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

/*---------------------- LAYOUT ------------------------------*/

/*--HEADER--*/
header {
    width: 100%;
    background-color: var(--primary);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto 1rem 0;
}

.logo-container .logo {
    display: block;
    padding-top: 1.5rem;
    max-width: 24rem;
}

.logo-container .motto {
    margin: 0;
    font-weight: 700;
    color: var(--black);
}

/* NAVIGATION */

header .navigation {
    width: 100%;
    white-space: nowrap;
}

header .navigation ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: fit-content;
}

.navigation ul li {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    display: none;
}
.navigation.show ul li {
    display: block;
}
.navigation ul li:last-of-type {
    margin-bottom: 2rem;
}

.navigation ul li a {
    color: var(--black);
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    width: fit-content;
    transition: color 300ms ease;
}

.navigation ul li a.active,
.navigation ul li a:hover {
    color: var(--hovered);
}

.navigation ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--accent2);
    transition: width 300ms ease;
}

header .navigation ul li.toggle-menu {
    display: block;
    margin-top: 1rem;
    cursor: pointer;
}

/* PAGE */
.announcement {
    padding: 2rem;
    background-color: var(--darkBlue);
    color: var(--white);
    display: none;
}
.page-title {
    text-align: center;
    margin-top: 5rem;
}
.home-section {
    background-color: var(--accent2);
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.hero-section {
    position: relative;
    width: 100%;
    max-height: 70vh;
    /* overflow: hidden; */
    margin-bottom: 5rem;
}
.hero-section .hero-image {
    width: 100%;
}
.hero-section .summary {
    background-color: var(--accent);
    color: var(--white);
    opacity: .8;
    position: absolute;
    padding: .5rem;
    top: 1rem;
    left: 1rem;
}
.hero-section .summary h3 {
    font-size: 2rem;
    margin: .5rem;
}
.hero-section .summary p {
    font-size: 1.8rem;
    margin: .3rem 0;
}
.hero-section .summary p span{
    font-weight: bold;
}
.article-section {
    text-align: center;
}

.contact-info-section {
    background-color: var(--accent2);
    padding: 2rem;
}
.contact-info-section .map {
    display: none;
}
.contact-info-section .icon-text {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.contact-info-section .icon-text img {
    max-width: 2rem;
}

/* PRESTON PAGE */
.five-day-section {
    text-align: center;
    margin-bottom: 5rem;
}
.five-day-section .flex-container{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    background-color: var(--white);
}
.flex-container .day-title {
    margin-top: 0;
    background-color: var(--yellow);
}
.flex-container p {
    padding: 1rem;
    text-align: center;
}
.flex-container p:last-of-type {
    margin-bottom: 0;
}
.flex-container img {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}

/* Footer */
footer {
    background-color: var(--primary);
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
}
