:root {
    /*Font from google*/
    --font: 'Work Sans',sans-serif;
    /*Color Palette*/
    --yellow: #FFDE32;
    --grey: #E8E9EB;
    --blue: #2176AE;
    --darkBlue: #235789;
    --darkGrey: #858686;
    --red: #ED6A5A;
    
    /*Actual color palette*/
    --primary: var(--yellow);
    --secondary: var(--grey);
    --accent: var(--blue);
    --accent2: var(--red);
    --hovered: var(--darkGrey);
    --black: #000000;
    --white: #ffffff;

    /* Screen sizes */
    --tablet: 768px;
}
/*----------------------- GLOBALS ----------------------------*/
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
*,*::before, *::after {
    font-family: var(--font);
    box-sizing: border-box;
}
h1 { font-size: 3.6rem;}
h2 { font-size: 3.2rem;}
h3 { font-size: 2.8rem;}
h4 { font-size: 2.4rem;}
p, ul {line-height: 1.5;}
img {max-width: 100%;}
/* Media queries for global styles */
@media only screen and (min-width: 768px) {
    body {
        font-size: 1.8rem;
    }
    ul {
        max-width: 70rem;
        margin: 0 auto;
    }
    .main-container {
        width: fit-content;
        margin: 0 auto;
        max-width: fit-content;
    }
}

/*---------------------- UTILITIES ---------------------------*/
.container, .main-container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}

/*---------------------- LAYOUT ------------------------------*/
/*--HEADER--*/
header {
    width: 100%;
    background-color: var(--secondary);
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
}
.logo-container img{
    display: block;
    padding-top: 2rem;
    width: fit-content;
}
.logo-container p {
    margin: 0;
    font-size: 2.4rem;
    color: var(--black);
}
hr {
    margin-bottom: 0;
}
header nav {
    width: 100%;
    margin: 0 auto;
}
header nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header ul li {
    padding: .5rem 0;
    width: 100%;
}
header ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 300ms ease;
}
header ul li a.active, header ul li a:hover {
    color: var(--hovered);
}
header ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--accent2);
    transition: width 300ms ease;
}
header ul li:hover::after {
    width: 100%;
}
/* MediaQueries for Header */
@media only screen and (min-width: 768px) {
    header nav {
        width: fit-content;
    }

    header nav ul {
        flex-direction: row;
        width: auto;
    }

    header ul li {
        padding: 2rem;
        width: fit-content;
    }
}

/*--HOME--*/
.title {
    padding-top: 5rem;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}
.title h2 {
    margin-top: 0;
}
/* Target Audience */
@media only screen and (min-width: 768px) {
    .personas .person {
        margin-top: 5rem;
    }
    .personas .person:last-of-type{
        margin-bottom: 5rem;
    }
    .personas .person ul li img {
        width: 50%;
    }
}

/* Color Scheme */
.info-table {
    border-collapse: collapse;
    margin: 5rem auto;
}
.info-table, td {
    border: 1px solid var(--black);
}
.info-table td {
    padding: 1rem;
}
.primary-td {background-color: var(--yellow);}
.secondary-td {background-color: var(--grey);}
.accent-td {background-color: var(--blue);}
.accent2-td {background-color: var(--red);}

/*TYPOGRAPHY*/
.td-36 {
    font-size: 3.6rem;
}
.td-32 {
    font-size: 3.2rem;
}
.td-28 {
    font-size: 2.8rem;
}
.td-24 {
    font-size: 2.4rem;
}
.td-36, .td-32 ,.td-28, .td-24 {
    font-weight: 700;
}
.td-16 {
    font-size: 1.6rem;
}

/*-------- FOOTER --------*/
footer {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
    background-color: var(--secondary);
    padding: 5rem 0;
}
.copyright {
    margin-top: 0;
}
