:root {
    /*Font from google*/
    --font: 'Work Sans',sans-serif;
    /*Color Palette*/
    --yellow: #FFDE32;
    --grey: #E8E9EB;
    --blue: #2176AE;
    --darkBlue: #235789;
    --darkGrey: #626868;
    --red: #ED6A5A;
    
    /*Actual color palette*/
    --primary: var(--yellow);
    --secondary: var(--grey);
    --accent: var(--blue);
    --hovered: var(--darkGrey);
    --black: #000000;
    --white: #ffffff;


}
/*----------------------- GLOBALS ----------------------------*/
html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
}
*,*::before, *::after {
    font-family: var(--font);
}
h1 { font-size: 3.6rem;}
h2 { font-size: 3.2rem;}
h3 { font-size: 2.8rem;}
h4 { font-size: 2.4rem;}

/*---------------------- UTILITIES ---------------------------*/
.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

/*---------------------- LAYOUT ------------------------------*/
/*--HEADER--*/
header {
    width: 100%;
    background-color: var(--secondary);
}
header nav {
    width: fit-content;
    margin: 0 auto;
}
header nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
header ul li {
    padding: 2rem;
}
header ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 300ms ease;
}
header ul li a.active, header ul li a:hover {
    color: var(--hovered);
}
header ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--hovered);
    transition: width 300ms ease;
}
header ul li:hover::after {
    width: 100%;
}
header img{
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
    width: fit-content;
}

/*--HOME--*/
.title {
    padding-top: 5rem;
}
.title h2 {
    margin-top: 0;
}

/*-------- FOOTER --------*/
footer {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
    background-color: var(--secondary);
    padding: 5rem 0;
}
.copyright {
    margin-top: 0;
}
