@media only screen and (min-width: 1024px) {

    /* HEADER */
    header .navigation ul {
        flex-direction: row;
    }
    header .navigation ul li {
        margin-bottom: 1rem;
        position: relative;
        width: 100%;
        display: inline-block;
        padding: 0 1rem;
        z-index: 2;
    }
    header .navigation ul li:first-of-type {
        display: none;
    }
    header .navigation ul li:last-of-type {
        margin-bottom: 1rem;
    }
    .navigation ul li::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        right: 0;
        background-color: var(--black);
        transition: width 300ms ease, height 300ms ease 300ms;
        z-index: -1;
    }
    .navigation ul li:hover::after,
    .navigation ul li.active::after {
        width: 100%;
        height: 100%;
    }
    .navigation ul li:hover a,
    .navigation ul li.active a {
        color: #ffffff;
    }
    .navigation ul li a {
        transition: all 200ms ease 300ms;
        padding: 0;
    }

    /* PAGE */
    .home-section {
        padding: .5rem 5rem;
    }
    .article-section .article-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .article-section .article-content p {
        margin-top: 0;
    }
    .contact-info-section {
        display: flex;
        gap: 5rem;
    }
    .contact-info-section .map {
        display: block;
        margin: 0;
        max-width: 50%;
    }
    .contact-info-section .social-media-icons {
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin: 1.8rem 0;
    }
    .contact-info-section .social-media-icons img{
        width: 2.5rem;
    }

    /* GALLERY */
    .images-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .image-container {
        box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.5);
        transition: all 300ms ease;
    }
    .image-container:hover {
        box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.7);
        transform: translateY(-2px);
    }
}